* {
    font-family: 'Press Start 2P', cursive;
    background: repeating-linear-gradient(
      to bottom,
      #F8D0A8 0px,
      #F8D0A8 5px,
      #F8A890 5px,
      #F8A890 10px
    );
    color: white;
    display: grid;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row.justify-content-center {
    margin-top: 25px;
    margin-bottom: 25px;
}

a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
}

.oculto {
    display: none;
}

.container {
    padding: 5px;
    background-image: 
        repeating-linear-gradient(
            to bottom,
            #F8D0A8 0px,
            #F8D0A8 5px,
            #F8A890 5px,
            #F8A890 10px
        ), 
        repeating-linear-gradient(
            to bottom,
            #F8D0A8 0px,
            #F8D0A8 5px,
            #F8A890 5px,
            #F8A890 10px
        );
    background-clip: content-box, padding-box;
}

.container-imagen, .pokemon-imagen, .img-container {
    background: repeating-linear-gradient(
      to bottom,
      #E8E8E8 0px,
      #E8E8E8 7px,
      #F8F8F8 7px,
      #F8F8F8 10px
    );
}

p, #volver, #previo, #seleccionar, #siguiente, .container-nombre, .text-container {
    background: #788090;
    border-color: #606878;
}

#select-pagina, option {
    background: white;
    color:#788090;
}
