* {
    font-family: 'Press Start 2P', cursive;
    background-color: #F8F0E8;
    color: black;
    display: grid;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row.justify-content-center {
    margin-top: 25px;
    margin-bottom: 25px;
}

a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
}

.oculto {
    display: none;
}
